
body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background: #0f0f0f;
    color: white;
}

.nav {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.nav a {
    text-decoration: none;
    color: #00ffd5;
    padding: 8px 14px;
    border: 1px solid #00ffd5;
    border-radius: 8px;
    transition: 0.2s;
}

.nav a:hover {
    background: #00ffd5;
    color: #0f0f0f;
}

/* активная вкладка */
.nav a.active {
    background: #00ffd5;
    color: #0f0f0f;
}
